html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
}

.sbkabaap {
  width: 99.9vw;

  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
}

.navbar {
  /* background: linear-gradient(317deg,green,rgb(244, 244, 247),orange); */
  display: flex;
  /* border: 2px solid red; */
  flex-direction: column;
  width: 100vw;
  height: 16rem;
  /* justify-content: space-between; */
}

.navitem {
  padding: 5px;
  margin: 3px;
  /* border: 1px solid black; */
}

#search {
  margin-left: 8rem;
  width: 80rem;
  height: 5rem;
  margin-top: 2rem;
  border-radius: 3.5rem;
  border: .3rem solid rgb(76, 75, 75);
  /* background: linear-gradient(198deg,green,white,orange); */
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 2rem;
  /* border: none; */
}

#tag {
  background-color: red;
  padding-top: 1.3rem;
  color: white;
  font-size: 4rem;
  margin-left: 3.5rem;
  font-weight: bolder;
  border-radius: 0.5rem;
}

#icons {
  /* border: 0.1rem solid black; */
  margin-left: 20rem;
  width: 30rem;
  height: 6rem;
  margin-top: 1.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.star {
  font-size: x-large;
  margin-top: 1.2rem;
}

.star:hover {
  font-size: xx-large;
}

#corporateText {
  font-size: 2rem;
}

.FirstInnerNavBar {
  background: linear-gradient(4deg, green, rgb(244, 244, 247), orange);
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
}

.SecondInnerNavBar {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  height: 4rem;
  /* border: 1px solid orange; */
  margin-top: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  font-size: 1.9rem;
}

.intro {
  margin-top: 0.5rem;
  height: 57rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

/* .innerintro{
    position: sticky;
    background-color: aqua;
  } */

#firstintro {
  width: 70rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  padding-top: 1.4rem;
}

.introText {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  border: n;
}

img {
  width: 100vw;
  height: 100%;
}

#firstintro {
  border: none;
}

.bestSeller {
  /* border: 0.2rem solid red; */
  height: 78rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

#firstBest {
  /* border: 0.1rem solid black; */
  height: 13rem;
  text-align: center;
  font-size: 6rem;
  padding-top: 2.6rem;
}

#secondBest {
  display: flex;
  /* border: 0.1rem solid black; */
  height: 65rem;
  /* background-color: bisque; */
}

.addToCard {
  background-color: white;
  background: linear-gradient(198deg, white, rgb(237, 198, 126));
  height: 60rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.4rem 0.4rem 6rem rgb(85, 88, 90);
  margin: 0.9rem;
  border-radius: 0.8rem;
}

button {
  height: 4.7rem;
  color: rgb(248, 246, 246);
  font-size: medium;
  font-weight: bold;
  background-color: rgb(80, 12, 4);
  margin: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  border-radius: 1rem;
  border: none;
}

button:hover {
  color: rgb(13, 1, 1);
  cursor: pointer;
  background-color: rgb(248, 241, 240);
  border: 0.2rem solid red;
}

.img1 {
  height: 36rem;
  /* border-radius: 4rem; */
  padding: 1rem;
}

img:hover {
  image-rendering: crisp-edges;
  cursor: pointer;
  /* animation: forwards;
    animation-delay: 1s;
    animation-direction: normal; */
}

.cardDetail {
  margin: 0.2rem;
  margin-top: 2.19rem;
  /* border: .2rem solid green; */
  height: 16rem;
}

.details {
  margin: 1rem;
  /* border: .1rem solid rgb(98, 98, 17); */
  height: 3rem;
}

#firstDetail {
  font-size: 1.9rem;
  /* font-family: ; */
  padding: 0.4rem;
}

#secondDetail {
  display: flex;
  flex-direction: row;
  font-size: 2.2rem;
}

#thirdDetail {
  display: flex;
  flex-direction: row;
}

.discount {
  /* border: .1rem solid red; */
  width: 8rem;
  height: 2.9rem;
}

#discountedprice {
  text-decoration: line-through;
  width: 6rem;
}

#actualprice {
  margin-left: 1rem;
  width: 6rem;
}

#discounted {
  margin-left: 3rem;
  background-color: rgb(238, 55, 55);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  padding-top: 0.4rem;
}

.color {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2rem;
  margin: 0.6rem;
  border: 0.1rem solid rgb(11, 0, 0);
}

#green {
  background-color: green;
  /* width: 2rem;
    height: 2rem; */
}

#blue {
  background-color: blue;
  /* width: 2rem;
    height: 2rem; */
}

#black {
  background-color: black;
  /* width: 2rem;
    height: 2rem; */
}

.SecondInnerNavBar {
  position: sticky;
}

.collage {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 110rem;
  /* border: 0.1rem solid aqua; */
  max-width: 100%;
}

.secondPart img {
  height: 30rem;
  width: 35rem;
  margin: 1.3rem;
  border-radius: 4rem;
  box-shadow: 0.1rem 0.1rem 3rem rgb(229, 144, 8);
}

.collage .firstPart {
  display: flex;
  justify-content: center;
  height: 10rem;
}

.collage .firstPart span {
  padding-top: 2rem;
  font-size: 6rem;
}

.collage .secondPart {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.secondimg {
  display: flex;
  flex-direction: row;
  height: 50rem;
  margin-top: 2rem;
}

.secondimg img {
  margin: 0.7rem;
  width: 35rem;
}

.firsttext {
  text-align: center;
  font-size: 6rem;
}

.shopthelook {
  margin-top: 9rem;
  /* border: .2rem solid red; */
}
.secondimg .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 10rem;
  margin-top: 10rem;
  font-size: x-large;
  position: sticky;
}

.icon1,
.icon2,
.icon3 {
  border: 0.01rem solid grey;
  padding: 0.5rem;
  width: 6rem;
  height: 15rem;
  display: flex;
  justify-content: center;
}

.icon1:hover {
  background-color: grey;
  font-size: xx-large;
  cursor: pointer;
}

.icon2:hover {
  background-color: grey;
  font-size: xx-large;
  cursor: pointer;
}

.icon3:hover {
  background-color: grey;
  font-size: xx-large;
  cursor: pointer;
}

.thirdtext {
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  justify-content: space-around;
  font-size: x-large;
  margin-top: 1rem;
}

.text1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.giftarea {
  height: 73rem;
  /* border: .2rem solid red; */
  margin-top: 1rem;
}

.gift {
  /* border: .2rem solid black; */
  margin-top: 1rem;
}

.textarea {
  margin-top: 1rem;
  background-color: rgb(180, 178, 178);
  height: 13rem;
  /* border: .2rem solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
}

footer{
    background-color: rgb(75, 75, 75);
    height: 80rem;
    margin-top: 0;
}

.footerdiv{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(92, 91, 91);
    /* border: .2rem solid red; */
    height: 48rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div{
    margin-top: 5rem;
    margin-left: 7rem;
}

#div1{
    /* border: .1rem solid black; */
    font-size: 2.8rem;
    margin-left: 2rem;
    height: 50rem;
    width: 45rem;
}
#div2{
    /* border: .1rem solid black; */
    font-size: 2.8rem;
    height: 50rem;
    width: 30rem;

}
#div3{
    /* border: .1rem solid black; */
    font-size: 2.8rem;
    height: 50rem;
    width: 30rem;

}
#div4{
    /* border: .1rem solid black; */
    font-size: 2.8rem;
    height: 50rem;
    width: 30rem;

}
#div5{
    /* border: .1rem solid black; */
    font-size: 2.8rem;
    height: 50rem;
    width: 30rem;

}

.innerdiv{
    font-size: 1.8rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;

}

#innerdiv1{
    margin-top: 6rem;
}

.tutu{
    margin-left: 1rem;
}

#innerdiv5 i{
    margin: 1.5rem;
}

.underline{
    text-decoration: underline;
}

.textdiv{
    font-size: 1.8rem;
    margin: 2rem;
    margin-left: 0;
}

#textdiv1{
    margin-top: 6rem;
}

.div3text{
    font-size: 1.8rem;
    margin: 2rem;
    margin-left: 0;
}

#firstdiv3text{
    margin-top: 6rem;
}

.div4text{
    font-size: 1.8rem;
    margin: 2rem;
    margin-left: 0;
}

#firstdiv4text{
    margin-top: 6rem;
}

.div5text{
    font-size: 1.8rem;
    margin: 2rem;
    margin-left: 0;
}

#firstdiv5text{
    margin-top: 6rem;
}

.register{
    color: white;
    /* border: .2rem solid green; */
    font-size: 1.8rem;
    padding: 2rem;
    padding-left: .5rem;
}

#inputtext1{
    font-size: 2.8rem;
}

#mail{
    font-size: xx-large;
}

footer button{
   height: 4rem;
   width: 9rem;
   background-color: #eb0d0d; 
}

footer .input{
    display: flex;
    margin-top: 2rem;
}

#reserve{
    text-align: center;
    color: white;
    font-size: 1.8rem;
    margin-top: 5rem;
}

.footerdiv div{
    text-decoration: underline;
}

hr{
    margin-top: 5rem;
}
